@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Mukta");
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Std 65 Medium"), url("../../assets/fonts/AvenirLTStd-Medium.woff") format("woff");
}

@font-face {
  font-family: 'FouLite';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Std 65 Medium"), url("../../assets/fonts/FoundersGrotTest-Light.woff") format("woff");
}

@font-face {
  font-family: 'FouReg';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Std 65 Medium"), url("../../assets/fonts/FoundersGrotTest-Regular.woff") format("woff");
}

@font-face {
  font-family: 'FouMed';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Std 65 Medium"), url("../../assets/fonts/FoundersGrotTest-Medium.woff") format("woff");
}

@font-face {
  font-family: 'FouBold';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Std 65 Medium"), url("../../assets/fonts/FoundersGrotTest-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  font-family: Avenir, sans-serif;
  overflow: hidden;
}

.loaderLoading {
  padding: 5%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loaderLoading .top, .loaderLoading .right, .loaderLoading .bottom, .loaderLoading .left {
  background-color: #fff;
  position: absolute;
}

.loaderLoading .top {
  height: 5px;
  top: 0;
  left: 0;
}

@media screen and (min-width: 600px) {
  .loaderLoading .top {
    height: 10px;
  }
}

.loaderLoading .right {
  width: 5px;
  top: 0;
  right: 0;
}

@media screen and (min-width: 600px) {
  .loaderLoading .right {
    width: 10px;
  }
}

.loaderLoading .bottom {
  height: 5px;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 600px) {
  .loaderLoading .bottom {
    height: 10px;
  }
}

.loaderLoading .left {
  width: 5px;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 600px) {
  .loaderLoading .left {
    width: 10px;
  }
}

.loaderLoading .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

#loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #212121;
  z-index: 10000;
}

.top-header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 2.5vw 10vw;
  position: fixed;
  top: 0;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

@media screen and (min-width: 601px) {
  .top-header {
    background-color: transparent;
    padding: 1.5625vw 6.25vw;
  }
}

@media screen and (min-width: 1301px) {
  .top-header {
    background-color: transparent;
    padding: 1.04167vw 4.16667vw;
  }
}

.top-header .logo {
  width: 30vw;
  height: auto;
  opacity: 0;
}

@media screen and (min-width: 601px) {
  .top-header .logo {
    width: 18.75vw;
  }
}

@media screen and (min-width: 1301px) {
  .top-header .logo {
    width: 12.5vw;
  }
}

.top-header #menu-burger {
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 601px) {
  .top-header #menu-burger {
    width: 6.25vw;
    height: 6.25vw;
  }
}

@media screen and (min-width: 1301px) {
  .top-header #menu-burger {
    display: none;
  }
}

.top-header #menu-burger #burger-logo {
  background: url("../../assets/icons/logo-burger.png") repeat-x;
  background-size: contain;
  position: absolute;
  width: 3000px;
  height: 3.75vw;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

.navigator {
  display: none;
}

@media screen and (min-width: 1301px) {
  .navigator {
    display: flex;
    width: 50%;
  }
  .navigator .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .navigator .menu .menu-li {
    list-style-type: none;
    position: relative;
  }
  .navigator .menu .menu-li .menu-link, .navigator .menu .menu-li .menu-link:active, .navigator .menu .menu-li .menu-link:visited {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    font-family: Avenir, sans-serif;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 7px;
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
  }
  .navigator .menu .menu-li .menu-link::before {
    content: '';
    display: block;
    width: 1%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    margin: auto;
    background-color: #fee702;
    transform: rotate(-5deg);
    opacity: 0;
    transition: all 200ms ease-out;
  }
  .navigator .menu .menu-li .menu-link:hover::before {
    opacity: 1;
    width: 110%;
    left: -5%;
  }
  .navigator .menu .menu-li .letter-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-left: 2px;
  }
  .navigator .menu .menu-li .letter-container .letter {
    position: relative;
    left: -100%;
  }
}

.bottom-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 2.5vw 10vw;
  background-color: #fff;
  z-index: 1000;
  pointer-events: none;
  touch-action: auto;
}

@media screen and (min-width: 601px) {
  .bottom-header {
    background-color: transparent;
    padding: 1.5625vw 6.25vw;
  }
}

@media screen and (min-width: 1301px) {
  .bottom-header {
    background-color: transparent;
    padding: 1.04167vw 4.16667vw;
  }
}

.bottom-header .booking {
  width: 20vw;
  height: auto;
  overflow: visible;
  pointer-events: auto;
}

@media screen and (min-width: 601px) {
  .bottom-header .booking {
    width: 9.375vw;
  }
}

@media screen and (min-width: 1301px) {
  .bottom-header .booking {
    width: 8.33333vw;
  }
}

.bottom-header .social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 20vw;
  transform: translateY(50px);
  opacity: 0;
}

@media screen and (min-width: 601px) {
  .bottom-header .social {
    width: 12.5vw;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1301px) {
  .bottom-header .social {
    width: 8.33333vw;
  }
}

.bottom-header .social a {
  display: block;
  pointer-events: auto;
  transition: all 600ms ease-out;
}

.bottom-header .social a img {
  width: 8vw;
  height: auto;
}

@media screen and (min-width: 601px) {
  .bottom-header .social a img {
    width: 4.375vw;
  }
}

@media screen and (min-width: 1301px) {
  .bottom-header .social a img {
    width: 2.91667vw;
  }
}

.bottom-header .social a:hover {
  transform: scale(1.5) rotate(720deg);
}

#cta-booking {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -10;
  opacity: 0;
}

#cta-booking .form-booking {
  width: 80vw;
  padding: 5vw;
  position: fixed;
  background-color: #efefef;
}

@media screen and (min-width: 601px) {
  #cta-booking .form-booking {
    width: 50vw;
    padding: 3.125vw 6.25vw;
  }
}

@media screen and (min-width: 1301px) {
  #cta-booking .form-booking {
    width: 50vw;
    height: auto;
    padding: 2.08333vw 6.25vw;
  }
}

.selectors {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.input-selector, .precedent-input, .successive-input {
  width: 50%;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  z-index: 10000;
  display: none;
  background-color: transparent;
  border: none;
}

.precedent-input .toro {
  transform: rotate(45deg);
}

.successive-input .toro {
  transform: rotate(45deg);
}

.input-flex-container {
  display: flex;
  flex-flow: column nowrap;
}

.form-el {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
  font-size: 16px;
}

.form-el h2 {
  font-size: 25px;
  text-align: center;
  margin: auto;
}

.form-el:last-child {
  margin-bottom: 0;
}

.form-el label {
  position: absolute;
  color: #ababab;
  background-color: #efefef;
  border-bottom: 2px solid #212121;
  font-size: 20px;
  left: 0;
  right: 0;
  top: -1px;
  bottom: 0px;
}

.form-el .form-inp {
  outline: 0;
  width: 100%;
  height: 26px;
  border: 0 solid transparent;
  background-color: transparent;
  border-bottom: 2px solid #212121;
}

.site {
  width: 100%;
  position: relative;
}

.first-header {
  width: 100%;
  margin-bottom: 30vw;
}

@media screen and (min-width: 601px) {
  .first-header {
    margin-bottom: 18.75vw;
  }
}

@media screen and (min-width: 601px) {
  .first-header {
    margin-bottom: 16.66667vw;
  }
}

.first-header .first-title {
  display: inline-block;
  margin: 0 0 0 10vw;
  padding: 0;
  position: relative;
  z-index: 1;
  font-family: FouMed, sans-serif;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.2vw;
  overflow: hidden;
}

@media screen and (min-width: 601px) {
  .first-header .first-title {
    margin-left: 6.25vw;
    font-size: 8vw;
    line-height: 9vw;
    position: absolute;
    top: 6.25vw;
  }
}

@media screen and (min-width: 1200px) {
  .first-header .first-title {
    font-size: 120px;
    line-height: 140px;
  }
}

@media screen and (min-width: 1301px) {
  .first-header .first-title {
    margin-left: 4.16667vw;
    top: 4.16667vw;
  }
}

@media screen and (min-width: 1921px) {
  .first-header .first-title {
    font-size: 6vw;
    line-height: 7vw;
  }
}

.first-header .first-title span {
  display: block;
  position: relative;
  transform: translateY(-200px);
  padding-right: 5px;
  background-color: #fff;
}

@media screen and (min-width: 601px) {
  .first-header .first-title span {
    padding-bottom: 15px;
  }
}

.first-header .first-title span:first-child {
  z-index: 1;
}

@media screen and (min-width: 601px) {
  .first-header .first-title span:first-child {
    display: inline-block;
    padding-right: 0;
  }
}

.first-header .first-title span:last-child {
  display: inline-block;
}

@media screen and (min-width: 601px) {
  .first-header .first-title span:last-child {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}

.first-header #first-header-scene {
  overflow: hidden;
}

.first-header .image {
  width: 90vw;
  margin-left: 10vw;
  margin-top: -10vw;
  height: 65vh;
  position: relative;
  z-index: 0;
  background: url("../../assets/img/services.png") no-repeat center;
  background-size: cover;
  opacity: 0;
  transform: translateY(50px);
}

@media screen and (min-width: 601px) {
  .first-header .image {
    margin-top: 0;
    width: 62.5vw;
    margin-left: 31.25vw;
  }
}

@media screen and (min-width: 1301px) {
  .first-header .image {
    width: 54.16667vw;
    margin-left: 41.66667vw;
  }
}

.first-header .overlay {
  display: none;
}

@media screen and (min-width: 800px) {
  .first-header .overlay {
    display: block;
    width: 25vw;
    height: 21.875vw;
    margin-left: 18.75vw;
    margin-top: -12.5vw;
    position: relative;
    z-index: 2;
    background: url("../../assets/img/salmon.png") no-repeat center;
    background-size: cover;
    opacity: 0;
    transform: translateX(-50px);
  }
}

@media screen and (min-width: 1301px) {
  .first-header .overlay {
    width: 25vw;
    height: 31.25vw;
    margin-left: 29.16667vw;
    margin-top: -8.33333vw;
  }
}

.middle-img, .chef-shop .chef-shop-img, .chef-cut .chef-cut-img {
  width: 50vw;
  height: 80vw;
  position: relative;
  z-index: 0;
  background-size: cover;
}

.middle-text, .chef-shop .chef-shop-text, .chef-cut .chef-cut-text {
  width: 50vw;
  margin-top: -30vw;
  padding: 0 5px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  font-size: 22px;
  line-height: 30px;
}

@media screen and (min-width: 601px) {
  .middle-text, .chef-shop .chef-shop-text, .chef-cut .chef-cut-text {
    font-size: 32px;
    line-height: 50px;
  }
}

.chef-shop {
  width: 100%;
  margin-bottom: 30vw;
  position: relative;
  opacity: 0;
  transform: scale(0.7);
}

@media screen and (min-width: 601px) {
  .chef-shop {
    width: 81.25vw;
    min-height: 31.25vw;
    margin-bottom: 18.75vw;
    margin-left: 18.75vw;
  }
}

@media screen and (min-width: 1301px) {
  .chef-shop {
    width: 79.16667vw;
    min-height: 20.83333vw;
    margin-bottom: 16.66667vw;
    margin-left: 20.83333vw;
  }
}

.chef-shop .chef-shop-img {
  background: url("../../assets/img/chef_shop.jpg") no-repeat center;
}

@media screen and (min-width: 601px) {
  .chef-shop .chef-shop-img {
    width: 37.5vw;
    height: 31.25vw;
  }
}

@media screen and (min-width: 601px) and (max-height: 1000px) {
  .chef-shop .chef-shop-img {
    height: 43.75vw;
  }
}

@media screen and (min-width: 1301px) {
  .chef-shop .chef-shop-img {
    width: 33.33333vw;
    height: 20.83333vw;
  }
}

.chef-shop .chef-shop-text {
  margin-left: 40vw;
  padding: 10px 15px;
}

@media screen and (min-width: 601px) {
  .chef-shop .chef-shop-text {
    width: 37.5vw;
    margin-left: 31.25vw;
    margin-top: -23.4375vw;
  }
}

@media screen and (min-width: 1301px) {
  .chef-shop .chef-shop-text {
    width: 37.5vw;
    margin-left: 29.16667vw;
    margin-top: -8.33333vw;
  }
}

.chef-cut {
  width: 100%;
  margin-bottom: 30vw;
  opacity: 0;
  transform: scale(0.7);
}

@media screen and (min-width: 601px) {
  .chef-cut {
    width: 81.25vw;
    min-height: 31.25vw;
    margin-bottom: 25vw;
    margin-left: 18.75vw;
  }
}

@media screen and (min-width: 1301px) {
  .chef-cut {
    width: 79.16667vw;
    min-height: 20.83333vw;
    margin-bottom: 16.66667vw;
    margin-left: 20.83333vw;
  }
}

.chef-cut .chef-cut-img {
  margin-left: 50vw;
  background: url("../../assets/img/chef_cut_fish.jpg") no-repeat center;
}

@media screen and (min-width: 601px) {
  .chef-cut .chef-cut-img {
    width: 37.5vw;
    height: 31.25vw;
    margin-left: 31.25vw;
  }
}

@media screen and (min-width: 601px) and (max-height: 1000px) {
  .chef-cut .chef-cut-img {
    height: 43.75vw;
  }
}

@media screen and (min-width: 1301px) {
  .chef-cut .chef-cut-img {
    width: 33.33333vw;
    height: 20.83333vw;
    margin-left: 29.16667vw;
  }
}

.chef-cut .chef-cut-text {
  margin-left: 10vw;
  text-align: right;
  padding: 10px 15px;
}

@media screen and (min-width: 601px) {
  .chef-cut .chef-cut-text {
    width: 37.5vw;
    margin-top: -23.4375vw;
    margin-left: 0;
  }
}

@media screen and (min-width: 1301px) {
  .chef-cut .chef-cut-text {
    width: 33.33333vw;
    margin-top: -8.33333vw;
  }
}

.local-header {
  width: 100%;
  margin-bottom: 30vw;
}

@media screen and (min-width: 601px) {
  .local-header {
    margin-bottom: 18.75vw;
    position: relative;
  }
}

@media screen and (min-width: 1301px) {
  .local-header {
    margin-bottom: 16.66667vw;
  }
}

.local-header .second-title {
  display: inline-block;
  margin: 0;
  margin-right: 10vw;
  padding: 0;
  float: right;
  position: relative;
  top: 10vw;
  text-align: right;
  z-index: 1;
  font-family: FouMed;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.2vw;
  overflow: hidden;
}

@media screen and (min-width: 601px) {
  .local-header .second-title {
    float: unset;
    margin-left: 25vw;
    margin-right: 0;
    position: absolute;
    top: 6.25vw;
    font-size: 8vw;
    line-height: 9vw;
  }
}

@media screen and (min-width: 1200px) {
  .local-header .second-title {
    font-size: 120px;
    line-height: 140px;
  }
}

@media screen and (min-width: 1301px) {
  .local-header .second-title {
    margin-left: 20.83333vw;
    top: 4.16667vw;
  }
}

@media screen and (min-width: 1921px) {
  .local-header .second-title {
    font-size: 6vw;
    line-height: 7vw;
  }
}

.local-header .second-title span {
  display: block;
  position: relative;
  padding-right: 5px;
  padding-left: 15px;
  transform: translateY(-200px);
  background-color: #fff;
}

@media screen and (min-width: 601px) {
  .local-header .second-title span {
    padding-bottom: 15px;
  }
}

.local-header .second-title span:first-child {
  z-index: 1;
}

@media screen and (min-width: 601px) {
  .local-header .second-title span:first-child {
    display: inline-block;
    padding-right: 0;
    padding-left: 1.5vw;
  }
}

.local-header .second-title span:last-child {
  display: inline-block;
}

@media screen and (min-width: 601px) {
  .local-header .second-title span:last-child {
    padding-left: 1.5vw;
  }
}

.local-header .image {
  width: 90vw;
  height: 65vh;
  position: relative;
  z-index: 0;
  background: url("../../assets/img/homeLocal.jpg") no-repeat center;
  background-size: cover;
  clear: both;
  opacity: 0;
  transform: translateY(50px);
}

@media screen and (min-width: 601px) {
  .local-header .image {
    margin-top: 0;
    width: 62.5vw;
    margin-left: 6.25vw;
  }
}

@media screen and (min-width: 1301px) {
  .local-header .image {
    margin-top: 0;
    width: 54.16667vw;
    margin-left: 4.16667vw;
  }
}

.local-header .overlay {
  display: none;
}

@media screen and (min-width: 800px) {
  .local-header .overlay {
    display: block;
    width: 31.25vw;
    height: 21.875vw;
    margin-left: 50vw;
    margin-top: -12.5vw;
    position: relative;
    z-index: 2;
    background: url("../../assets/img/salmon.png") no-repeat center;
    background-size: cover;
    opacity: 0;
    transform: translateY(50px);
  }
}

@media screen and (min-width: 1301px) {
  .local-header .overlay {
    width: 25vw;
    height: 20.83333vw;
    margin-left: 45.83333vw;
    margin-top: -12.5vw;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  align-items: center;
  background-color: #212121;
  z-index: 1001;
}

.footer .logo-footer {
  width: 40vw;
  margin: 2vw 0;
}

@media screen and (min-width: 601px) {
  .footer .logo-footer {
    width: 18.75vw;
  }
}

@media screen and (min-width: 801px) {
  .footer .logo-footer {
    width: 12.5vw;
  }
}

.footer .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .footer .info {
    flex-direction: row;
  }
}

.footer .info .info-child {
  color: #fff;
  flex-basis: 33.33333%;
}

.footer .info .info-child h2 {
  font-size: 20px;
  color: #ababab;
  margin: 10vw 0 3vw;
}

@media screen and (min-width: 800px) {
  .footer .info .info-child h2 {
    margin: 2vw 0;
  }
}

@media screen and (min-width: 1301px) {
  .footer .info .info-child h2 {
    font-size: 28px;
  }
}

.footer .info .info-child div {
  margin: 2vw 0;
  font-size: 18px;
}

@media screen and (min-width: 1301px) {
  .footer .info .info-child div {
    font-size: 22px;
  }
}

.nav-footer {
  width: 100%;
}

.nav-footer .menu-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 4vw 0 6vw;
  padding: 0;
}

@media screen and (min-width: 801px) {
  .nav-footer .menu-footer {
    margin: 0 auto 3vw;
    width: 70%;
  }
}

.nav-footer .menu-footer .menu-li {
  list-style-type: none;
  flex-basis: 33.33333%;
  text-align: center;
}

.nav-footer .menu-footer .menu-link, .nav-footer .menu-footer .menu-link:active, .nav-footer .menu-footer .menu-link:visited {
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  transition: color 500ms ease-out;
}

@media screen and (min-width: 1301px) {
  .nav-footer .menu-footer .menu-link, .nav-footer .menu-footer .menu-link:active, .nav-footer .menu-footer .menu-link:visited {
    font-size: 30px;
    letter-spacing: 7px;
  }
}

.nav-footer .menu-footer .menu-link:hover {
  color: #fee702;
}

@-webkit-keyframes kf_el_bQt0PaV94l_an_tpc6Lo1qy {
  from {
    -webkit-transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(0px, 0px);
    transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(25px, 20px);
    transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(25px, 20px);
  }
}

@keyframes kf_el_bQt0PaV94l_an_tpc6Lo1qy {
  from {
    -webkit-transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(0px, 0px);
    transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(25px, 20px);
    transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(25px, 20px);
  }
}

@-webkit-keyframes kf_el_bQt0PaV94l_an_tpc6Lo1qy_out {
  to {
    -webkit-transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(0px, 0px);
    transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(0px, 0px);
  }
  from {
    -webkit-transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(25px, 20px);
    transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(25px, 20px);
  }
}

@keyframes kf_el_bQt0PaV94l_an_tpc6Lo1qy_out {
  to {
    -webkit-transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(0px, 0px);
    transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(0px, 0px);
  }
  from {
    -webkit-transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(25px, 20px);
    transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(25px, 20px);
  }
}

@-webkit-keyframes kf_el_bQt0PaV94l_an_kK1j04EfE {
  from {
    -webkit-transform: translate(12.945px, 58.2367px) rotate(0deg) translate(-12.945px, -58.2367px);
    transform: translate(12.945px, 58.2367px) rotate(0deg) translate(-12.945px, -58.2367px);
  }
  to {
    -webkit-transform: translate(12.945px, 58.2367px) rotate(50deg) translate(-12.945px, -58.2367px);
    transform: translate(12.945px, 58.2367px) rotate(50deg) translate(-12.945px, -58.2367px);
  }
}

@keyframes kf_el_bQt0PaV94l_an_kK1j04EfE {
  from {
    -webkit-transform: translate(12.945px, 58.2367px) rotate(0deg) translate(-12.945px, -58.2367px);
    transform: translate(12.945px, 58.2367px) rotate(0deg) translate(-12.945px, -58.2367px);
  }
  to {
    -webkit-transform: translate(12.945px, 58.2367px) rotate(50deg) translate(-12.945px, -58.2367px);
    transform: translate(12.945px, 58.2367px) rotate(50deg) translate(-12.945px, -58.2367px);
  }
}

@-webkit-keyframes kf_el_bQt0PaV94l_an_kK1j04EfE_out {
  to {
    -webkit-transform: translate(12.945px, 58.2367px) rotate(0deg) translate(-12.945px, -58.2367px);
    transform: translate(12.945px, 58.2367px) rotate(0deg) translate(-12.945px, -58.2367px);
  }
  from {
    -webkit-transform: translate(12.945px, 58.2367px) rotate(50deg) translate(-12.945px, -58.2367px);
    transform: translate(12.945px, 58.2367px) rotate(50deg) translate(-12.945px, -58.2367px);
  }
}

@keyframes kf_el_bQt0PaV94l_an_kK1j04EfE_out {
  to {
    -webkit-transform: translate(12.945px, 58.2367px) rotate(0deg) translate(-12.945px, -58.2367px);
    transform: translate(12.945px, 58.2367px) rotate(0deg) translate(-12.945px, -58.2367px);
  }
  from {
    -webkit-transform: translate(12.945px, 58.2367px) rotate(50deg) translate(-12.945px, -58.2367px);
    transform: translate(12.945px, 58.2367px) rotate(50deg) translate(-12.945px, -58.2367px);
  }
}

@-webkit-keyframes kf_el_rktJjbfiTH_an_cafwUaA0k {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes kf_el_rktJjbfiTH_an_cafwUaA0k {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes kf_el_rktJjbfiTH_an_cafwUaA0k_opacity_out {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@keyframes kf_el_rktJjbfiTH_an_cafwUaA0k_opacity_out {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@-webkit-keyframes kf_knife {
  from {
    -webkit-transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(0px, 0px);
    transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(-25px, 22px);
    transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(-25px, 22px);
  }
}

@keyframes kf_knife {
  from {
    -webkit-transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(0px, 0px);
    transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(-25px, 22px);
    transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(-25px, 22px);
  }
}

@-webkit-keyframes kf_knife_out {
  to {
    -webkit-transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(0px, 0px);
    transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(0px, 0px);
  }
  from {
    -webkit-transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(-25px, 22px);
    transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(-25px, 22px);
  }
}

@keyframes kf_knife_out {
  to {
    -webkit-transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(0px, 0px);
    transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(0px, 0px);
  }
  from {
    -webkit-transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(-25px, 22px);
    transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(-25px, 22px);
  }
}

@-webkit-keyframes kf_el_vSuwiavGKT_an_UcAHNkaZ7 {
  from {
    -webkit-transform: translate(171.55751px, 57.5067px) rotate(0deg) translate(-171.55751px, -57.5067px);
    transform: translate(171.55751px, 57.5067px) rotate(0deg) translate(-171.55751px, -57.5067px);
  }
  to {
    -webkit-transform: translate(171.55751px, 57.5067px) rotate(-50deg) translate(-171.55751px, -57.5067px);
    transform: translate(171.55751px, 57.5067px) rotate(-50deg) translate(-171.55751px, -57.5067px);
  }
}

@keyframes kf_el_vSuwiavGKT_an_UcAHNkaZ7 {
  from {
    -webkit-transform: translate(171.55751px, 57.5067px) rotate(0deg) translate(-171.55751px, -57.5067px);
    transform: translate(171.55751px, 57.5067px) rotate(0deg) translate(-171.55751px, -57.5067px);
  }
  to {
    -webkit-transform: translate(171.55751px, 57.5067px) rotate(-50deg) translate(-171.55751px, -57.5067px);
    transform: translate(171.55751px, 57.5067px) rotate(-50deg) translate(-171.55751px, -57.5067px);
  }
}

@-webkit-keyframes kf_el_vSuwiavGKT_an_UcAHNkaZ7_out {
  to {
    -webkit-transform: translate(171.55751px, 57.5067px) rotate(0deg) translate(-171.55751px, -57.5067px);
    transform: translate(171.55751px, 57.5067px) rotate(0deg) translate(-171.55751px, -57.5067px);
  }
  from {
    -webkit-transform: translate(171.55751px, 57.5067px) rotate(-50deg) translate(-171.55751px, -57.5067px);
    transform: translate(171.55751px, 57.5067px) rotate(-50deg) translate(-171.55751px, -57.5067px);
  }
}

@-webkit-keyframes text_prenota {
  from {
    -webkit-transform: translate(88.999px, 50.607px) translate(-88.999px, -50.607px) translate(0, 0);
    transform: translate(88.999px, 50.607px) translate(-88.999px, -50.607px) translate(0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(88.999px, 90.607px) translate(-88.999px, -90.607px) translate(0, 20px);
    transform: translate(88.999px, 50.607px) translate(-88.999px, -50.607px) translate(0, -10px);
    opacity: 1;
  }
}

@keyframes text_prenota {
  from {
    -webkit-transform: translate(88.999px, 50.607px) translate(-88.999px, -50.607px) translate(0, 0);
    transform: translate(88.999px, 50.607px) translate(-88.999px, -50.607px) translate(0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(88.999px, 90.607px) translate(-88.999px, -90.607px) translate(0, 20px);
    transform: translate(88.999px, 50.607px) translate(-88.999px, -50.607px) translate(0, -10px);
    opacity: 1;
  }
}

@-webkit-keyframes text_prenota_out {
  to {
    -webkit-transform: translate(88.999px, 90.607px) translate(-88.999px, -90.607px) translate(0, 20px);
    transform: translate(88.999px, 50.607px) translate(-88.999px, -50.607px) translate(0, 0);
    opacity: 0;
  }
  from {
    -webkit-transform: translate(88.999px, 90.607px) translate(-88.999px, -90.607px) translate(0, 20px);
    transform: translate(88.999px, 50.607px) translate(-88.999px, -50.607px) translate(0, -10px);
    opacity: 1;
  }
}

@keyframes text_prenota_out {
  from {
    -webkit-transform: translate(88.999px, 90.607px) translate(-88.999px, -90.607px) translate(0, 20px);
    transform: translate(88.999px, 50.607px) translate(-88.999px, -50.607px) translate(0, -10px);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(88.999px, 90.607px) translate(-88.999px, -90.607px) translate(0, 20px);
    transform: translate(88.999px, 50.607px) translate(-88.999px, -50.607px) translate(0, 0px);
    opacity: 0;
  }
}

#booking_svg {
  transform: translateY(50px);
  opacity: 0;
}

#booking_svg * {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

#booking_svg:hover {
  cursor: pointer;
}

#plate {
  fill: none;
  stroke: #212121;
  stroke-width: 10px;
  transition: stroke ease-out 300ms;
}

#booking_svg:hover #plate {
  stroke: #fee702;
}

#tick_style {
  fill: #212121;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-name: kf_el_rktJjbfiTH_an_cafwUaA0k_opacity_out;
  animation-name: kf_el_rktJjbfiTH_an_cafwUaA0k_opacity_out;
}

#booking_svg:hover #tick_style {
  -webkit-animation-name: kf_el_rktJjbfiTH_an_cafwUaA0k;
  animation-name: kf_el_rktJjbfiTH_an_cafwUaA0k;
}

#knife_style {
  fill: #212121;
}

#fork_style {
  fill: #212121;
}

#el_bQt0PaV94l_an_bWFv7gSdz {
  -webkit-transform: translate(0px, 4.78px) translate(0px, -4.78px) translate(50px, 0px);
  transform: translate(0px, 4.78px) translate(0px, -4.78px) translate(50px, 0px);
}

#fork_rotation {
  -webkit-transform: translate(12.945px, 58.2367px) rotate(0deg) translate(-12.945px, -58.2367px);
  transform: translate(12.945px, 58.2367px) rotate(0deg) translate(-12.945px, -58.2367px);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: kf_el_bQt0PaV94l_an_kK1j04EfE_out;
  animation-name: kf_el_bQt0PaV94l_an_kK1j04EfE_out;
}

#booking_svg:hover #fork_rotation {
  -webkit-animation-name: kf_el_bQt0PaV94l_an_kK1j04EfE;
  animation-name: kf_el_bQt0PaV94l_an_kK1j04EfE;
}

#fork_position {
  -webkit-transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(0px, 0px);
  transform: translate(12.945px, 58.2367px) translate(-12.945px, -58.2367px) translate(0px, 0px);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: kf_el_bQt0PaV94l_an_tpc6Lo1qy_out;
  animation-name: kf_el_bQt0PaV94l_an_tpc6Lo1qy_out;
}

#booking_svg:hover #fork_position {
  -webkit-animation-name: kf_el_bQt0PaV94l_an_tpc6Lo1qy;
  animation-name: kf_el_bQt0PaV94l_an_tpc6Lo1qy;
}

#el_vSuwiavGKT_an_UcAHNkaZ7 {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(171.55751px, 57.5067px) rotate(0deg) translate(-171.55751px, -57.5067px);
  transform: translate(171.55751px, 57.5067px) rotate(0deg) translate(-171.55751px, -57.5067px);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: kf_el_vSuwiavGKT_an_UcAHNkaZ7_out;
  animation-name: kf_el_vSuwiavGKT_an_UcAHNkaZ7_out;
}

#booking_svg:hover #el_vSuwiavGKT_an_UcAHNkaZ7 {
  -webkit-animation-name: kf_el_vSuwiavGKT_an_UcAHNkaZ7;
  animation-name: kf_el_vSuwiavGKT_an_UcAHNkaZ7;
}

#knife {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(0px, 0px);
  transform: translate(171.55751px, 57.5067px) translate(-171.55751px, -57.5067px) translate(0px, 0px);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: kf_knife_out;
  animation-name: kf_knife_out;
}

#booking_svg:hover #knife {
  -webkit-animation-name: kf_knife;
  animation-name: kf_knife;
}

#testo_prenota {
  font-size: 41.49px;
  font-family: FouBold, Founders Grotesk Test;
  fill: #212121;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: text_prenota_out;
  animation-name: text_prenota_out;
}

#testo_prenota .cls-2 {
  letter-spacing: -0.03em;
}

#testo_prenota .cls-3 {
  letter-spacing: -0.09em;
}

#booking_svg:hover #testo_prenota {
  -webkit-animation-name: text_prenota;
  animation-name: text_prenota;
}
